.App {
  background-color: var(--background);
  height: 100vh;
  padding: 0 0 30px 30px;
  .list {
    list-style: none;
    li {
      button {
        width: 250px;
        height: 40px;
        margin: 10px 0;
        background-color: transparent;
        color: white;
        font-weight: bold;
        border: 1px solid white;
        cursor: pointer;
      }
    }
  }
}
